*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
    /* use overflow-x: hidden; or max-width: 100%; to remove the margin made by the row class*/
}



button {
    background-color: rgb(75 202 120);
    font-size: 1.2rem !important;
    font-weight: bold;
    padding: 0.8rem 2.8rem;
    border: 1px solid rgb(75 202 120);
    border-radius: 30px !important;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: rgb(62, 166, 98);
    border: 1px solid rgb(62, 166, 98);
}


/* the menu bar part */

.navbar {
    padding: 0.5rem 1.5rem !important;
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #333333;
}


.navbar img {
    width: 35%;
    transition: 500ms ease-in-out;
}

.scrolled img {
    width: 30%;
    transition: 500ms ease-in-out;
}

.navMenu {
    display: flex;   
    justify-content: space-between; 
    text-align: center;
    align-items: center;
}

.menuList {
    display: flex;
    list-style: none;
    padding-top: 1.5rem;
}

.menuList li {
    padding-left: 4rem;
}

.menuList li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.menuList li i {
    color: white;
    font-size: 0.8rem;
    padding-left: 0.8rem;
}

.home {
    border-bottom: 2px solid white;
    padding-bottom: 0.5rem;
}

.slowUnderline a {
    position:relative;
    text-decoration:none;
    display:inline-block;
}

.slowUnderline a:after {
    display:block;
    content: '';
    /* position: absolute; */
    padding-bottom: 0.3rem;
    border-bottom: 2px solid white;  
    transform: scaleX(0);  
    transition: transform 250ms ease-out;
    transform-origin: bottom left;
}

.slowUnderline a:hover:after { 
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* serviceList is a class with a dropdown list for the second li */


.serviceContainer {
    overflow: hidden;
}

.serviceList {
    /* display: none !important; */
    position: fixed;
    background-color: white;
    max-width: 220px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 4rem;
}

/* #serviceTitle:hover + .serviceList {
    display: block !important;
    display: flex !important;
}  */
/* when we want only to show the list by hover not clicking on the options */


.serviceList a {
    float: none;
    font-size: 1.1rem !important;
    color: #333333 !important;    
    padding: 1rem;
    text-decoration: none;
    text-align: left;
    border-bottom: 1px solid rgb(208, 208, 208);
}
  
  .serviceList a:hover {
    color: white !important;
    background-color: #333333;
    border-bottom: 1px solid  #333333;  
}




/* the search part */

.search {
    padding: 12rem 6rem 6rem 6rem;
}

.search h2 {
    font-size: 2.5rem;
    font-weight: bold;
}


.searchBar {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 30px;
    padding: 0 1rem;
    width: 25%;
}

.searchBar input {
    border: none;
    font-size: 1.2rem;
    outline: none;
}

.searchBar i {
    font-size: 1.2rem;
}

#searchBtn {
    background-color: white;
    border: white;
}





/* the blogs part */

.blogs {
    padding: 2rem 6rem 0 6rem;
}

.postRight {
    padding-left: 1rem !important;
    padding-bottom: 3rem;
}

.postLeft {
    padding-right: 1rem !important;
    padding-bottom: 3rem;
}


.postImages {
    overflow: hidden;
    height: 40vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image1 {
    width: 100%;
    height: 50vh;
    background-image: url("image/news1.jpg");
    background-size: 100% 50vh;
    transition: 1s all;
}

.image1:hover {
    transform: scale(1.1);
}

.image2 {
    width: 100%;
    height: 50vh;
    background-image: url("image/news2.jpg");
    background-size: 100% 50vh;
    transition: 1s all;
}

.image2:hover {
    transform: scale(1.1);
}

.image3 {
    width: 100%;
    height: 50vh;
    background-image: url("image/news3.jpg");
    background-size: 100% 50vh;
    transition: 1s all;
}

.image3:hover {
    transform: scale(1.1);
}

.image4 {
    width: 100%;
    height: 50vh;
    background-image: url("image/news4.jpg");
    background-size: 100% 50vh;
    transition: 1s all;
}

.image4:hover {
    transform: scale(1.1);
}


.blogs h3 {
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: black;
}

.datePic {
    color: rgb(170, 170, 170);
}

.discPic {
    font-size: 1.2rem;
}

.readMore {
    display: flex;
    color: rgb(33, 206, 125);
}





/* the footer part */

footer {
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 8rem 6rem 3rem 6rem;
}

footer h2 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.footerInfo {
    padding-top: 10rem;
}

footer img {
    width: 40%;
}

.contact p {
    font-size: 1.4rem;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    padding: 0.5rem 0;
}

footer ul a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.footerIcons {
    border-bottom: 1px solid rgb(185, 185, 185);
    padding-bottom: 1.5rem;
}

.footerIcons i{
    color: white;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.footerIcons :not(:first-child) {
    padding-left: 1rem;
}

.footerEnd {
    padding-top: 2rem;
    font-size: 1.2rem;
}