*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
    /* use overflow-x: hidden; or max-width: 100%; to remove the margin made by the row class*/
}



button {
    background-color: rgb(75 202 120);
    font-size: 1.2rem !important;
    font-weight: bold;
    padding: 0.8rem 2.8rem;
    border: 1px solid rgb(75 202 120);
    border-radius: 30px !important;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: rgb(62, 166, 98);
    border: 1px solid rgb(62, 166, 98);
}

#subBtn { 
    padding: 0.8rem 5rem; 
    color: white;
    /* only for the Submit button */
}




.headPart {
    background-image: url(image/woman.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.navbar {
    padding: 0.5rem 1.5rem !important;
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.scrolled {
    background-color: #333333;
}

.scrolled a {
    color: white !important;
}

.navbar img {
    width: 35%;
}

.navMenu {
    display: flex;   
    justify-content: space-between; 
    text-align: center;
    align-items: center;
}

.menuList {
    display: flex;
    list-style: none;
    padding-top: 1.5rem;
}

.menuList li {
    padding-left: 4rem;
}

.menuList li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.menuList li i {
    color: white;
    font-size: 0.8rem;
    padding-left: 0.8rem;
}

.home {
    border-bottom: 2px solid white;
    padding-bottom: 0.5rem;
}

.slowUnderline a {
    position:relative;
    text-decoration:none;
    display:inline-block;
}

.slowUnderline a:after {
    display:block;
    content: '';
    /* position: absolute; */
    padding-bottom: 0.3rem;
    border-bottom: 2px solid white;  
    transform: scaleX(0);  
    transition: transform 250ms ease-out;
    transform-origin: bottom left;
}

.slowUnderline a:hover:after { 
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* serviceList is a class with a dropdown list for the second li */

.serviceList {
    display: flex;
    list-style: none;
    background-color: white;
    flex-direction: column;
    text-align: left;
    margin-left: 2.5rem;
    width: 100%;
    /* z-index: 1; */
    display: none !important;
}


.serviceList a {
    text-decoration: none;
    font-size: 1.1rem !important;
    color: #333333 !important;
    padding: 1rem;
    border-bottom: 1px solid rgb(208, 208, 208);
}

.serviceList a:hover {
    color: white !important;
    background-color: #333333;
    border-bottom: 1px solid  #333333;
}





/* the downpart of the menu */

.registerPart {
    padding: 15rem 5rem 10rem 5rem;
}

.registerPart h1 {
    font-size: 4.5rem;
    font-weight: bolder;
    padding-top: 1rem;
    text-shadow: 2px 1px 0 #272727;;
}

.description {
    font-size: 1.5rem;
    text-shadow: 1px 1px 0 #000000;
}


.registerIcons {
    display: flex;
    padding-top: 5rem;
}

.registerIcons p {
    font-size: 1rem;
    font-weight: bold;
}


.airForceDrop {
    width: 95%;
    height: 95%;
}

.salesForce {
    width: 50%;
    height: 100%;
}

.airForceDrop:hover {
    width: 100%;
    height: 100%;
    transition: 500ms ease-in-out;
}

.salesForce:hover {
    width: 53%;
    transition: 500ms ease-in-out;
}


.registerForm {
    background-color: white;
    border-radius: 10px;
    padding: 3rem 0;
    margin-left: 7rem;
}

.registerForm h3 {
    font-size: 2rem;
    font-weight: bolder;
    padding: 0 2rem ;
}

.registerForm p {
    font-size: 1.2rem;
    color: rgb(160, 160, 160);
    padding: 0 2rem 1rem 2rem;
}

.answerForm {
    font-size: 1.3rem !important;
    padding: 0 2rem 0 2rem !important;
    color: black !important;
}

.registerForm form {
    text-align: center;
}

.registerForm form input {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 75%;
}


/* the part under the menu part about basic information */

.basicInfo {
    padding: 3rem 6rem;
    text-align: center;
}

.bigPart {
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: -1rem;
}

.smallPart {
    color: rgb(130, 130, 130);
    font-size: 1.2rem;
}


/* our services part */

#services {
    text-align: center;
    background-color: rgb(230, 230, 230);
    padding: 6rem 2rem 0 2rem;
}

#services h2 {
    font-size: 3rem;
    font-weight: bold;
}

#services a {
    text-decoration: none;
}

#services img {
    width: 35%;
    height: 35%;
}

#services p {
    font-size: 1.3rem;
    padding-top: 0.5rem;
    color: black;
}

#services p:hover {
    color: rgb(0, 181, 97);
}



/* our SEO team part */

#SEOteam {
    padding: 6rem 2rem;
    justify-content: space-between;
}

#SEOteam h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

#SEOteam p {
    font-size: 1.3rem;
}

#SEOteam img {
    width: 90%;
}


/* the mission part */

.mission {
    padding: 2rem 20rem;
    text-align: center;
}

.msTitle {
    font-size: 3rem;
    font-weight: bold;
}

.msText {
    font-size: 1.4rem;
}


/* the on-site, off-site, google ads, and google analytics parts */

.SEOParts {
    padding: 6rem;
    justify-content: space-between;
}

.SEOParts h3 {
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: 1rem;
}

.SEOParts p {
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.SEOParts img {
    width: 100%;
    height: 100%;
}


/* the comments part */

.comments {
    padding: 6rem;
    text-align: center;
}

.cmTitle {
    font-size: 3rem;
    font-weight: bold;
}

.cmText {
    font-size: 1.4rem;
}

.comments span {
    color: rgb(70, 70, 70);
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

.comments img {  /* .cmPeople img can be written */
    border-radius: 50%;
    width: 25%;
    height: 35%;
    margin-bottom: 0.5rem;
}

.cmPeople {
    padding: 0 2rem;
}

.cmPeople p {
    font-size: 1.2rem;
    padding: 0 1rem;
}


/* the FAQ part */

.FAQ {
    padding: 2rem 6rem 5rem 6rem;
}

.container {
    background-color: rgb(230, 230, 230);
    padding: 8rem 0;
    border-radius: 10px;
}

.container h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2rem;
}

.accordion {
    padding: 0 8rem;
}

.accordion .accordion-item {
    border-bottom: 1px solid rgb(175, 175, 175);
    background-color: rgb(230, 230, 230);
    border-radius: 0 !important;
}
 
.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid rgb(175, 175, 175);
    border-radius: 0 !important;
}
  
.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 3rem 1rem 1.5rem 1rem;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    background: none;
    outline: none;
}
  
.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
}
  
.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: rgb(75 202 120);
    border: 1px solid rgb(175, 175, 175);
}
  
.accordion button .accordion-title {
    padding: 1rem 1.5rem 1rem 0;
}
  
.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 3rem;
    right: 0;
    width: 30px;
    height: 30px;
    color: rgb(75 202 120);
}
  
.accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 10px;
    left: 5px;
    width: 16px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 3px; 
    left: 12px;
    width: 2px;
    height: 16px;
    background: currentColor;
}
  
.accordion button[aria-expanded='true'] {
    color: black;
}

.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9rem;
    transition: all 500ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 500ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-size: 1.2rem;
    color: black;
    padding: 1.5rem 1rem 1rem 1rem;
}



/* the news part */

.news {
    padding: 3rem 6rem 8rem 6rem;
}

.news h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.newsText {
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 4rem;
}



.newsImages {
    overflow: hidden;
    height: 40vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image1 {
    width: 100%;
    height: 40vh;
    background-image: url("image/news1.jpg");
    background-size: 100% 40vh;
    transition: 1s all;
}

.image1:hover {
    transform: scale(1.1);
}

.image2 {
    width: 100%;
    height: 40vh;
    background-image: url("image/news2.jpg");
    background-size: 100% 40vh;
    transition: 1s all;
}

.image2:hover {
    transform: scale(1.1);
}

.image3 {
    width: 100%;
    height: 40vh;
    background-image: url("image/news3.jpg");
    background-size: 100% 40vh;
    transition: 1s all;
}

.image3:hover {
    transform: scale(1.1);
}



.news h3 {
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: black;
}

.datePic {
    color: rgb(170, 170, 170);
}

.discPic {
    font-size: 1.2rem;
}

.readMore {
    display: flex;
    color: rgb(33, 206, 125);
}



/* the footer part */

footer {
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 8rem 6rem 3rem 6rem;
}

footer h2 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.footerInfo {
    padding-top: 10rem;
}

footer img {
    width: 40%;
}

.contact p {
    font-size: 1.4rem;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    padding: 0.5rem 0;
}

footer ul a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.footerIcons {
    border-bottom: 1px solid rgb(185, 185, 185);
    padding-bottom: 1.5rem;
}

.footerIcons i{
    color: white;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.footerIcons :not(:first-child) {
    padding-left: 1rem;
}

.footerEnd {
    padding-top: 2rem;
    font-size: 1.2rem;
}